/* styles.css */
.background {
    background-color: rgb(39, 39, 39);
}


.headertext {
    color: #198754;
    text-align: center;
}

.textinbutton {
    margin-top: 20px;
}

/* button styling */
.btn{
    margin: 5px;
    border-radius: 50%; 
    height: 10vw; 
    max-height: 100px; 
    width: 10vw; 
    max-width: 100px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .btn {
        font-size: 0.8em; 
        line-height: 1.2; /* Adjust line height for vertical centering */
    }
}

.btn:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/*button styling*/