/* Background color */
.background {
    background-color: rgb(39, 39, 39);
}

/* Fade-in animation styles */
.fade-in {
    visibility: hidden;
    animation: fadeInAnimation 5s ease-in-out 10s forwards; /* Added 3s delay and forwards */
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        visibility: visible; /* Ensure visibility is set to visible at the start of the animation */
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

/* Header text styles */
.headertext {
    color: #198754;
    text-align: center;
}

/* Text inside button styles */
.textinbutton {
    margin-top: 20px;
}

/* Button styling */
.btn {
    margin: 5px;
    border-radius: 50%; 
    height: 10vw; 
    max-height: 100px; 
    width: 10vw; 
    max-width: 100px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .btn {
        font-size: 0.8em; 
        line-height: 1.2; /* Adjust line height for vertical centering */
    }
}

.btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/* Typing animation container to hide initial text */
.typing-container {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: #198754; /* Font color */
}

.typing {
    display: inline-block;
    width: 0;
    animation: typing 4s steps(12) 1s forwards, backspacing 4s steps(12) 6s forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 12ch; }
}

@keyframes backspacing {
    from { width: 12ch; }
    to { width: 0; }
}
@keyframes disappear {
    from { opacity: 1; }
    to { opacity: 0; }
}






/* fade in *

@keyframes fade-inout {
    0%{ opacity: 1;}
    100%{ opacity: 0;}
  }
 
  @-o-keyframes fade-inout{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
  }
 
  @-moz-keyframes fade-inout{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
  }
 
  @-webkit-keyframes fade-inout{
    0%{ opacity: 1;}
    100%{ opacity: 0;}
  }
  .fade-in-fade-out {
     -webkit-animation: fade-inout 5s ;
     -moz-animation: fade-inout 5s ;
     -o-animation: fade-inout 5s ;
      animation: fade-inout 5s ;
  }

  .welcome {
    color: white;
    justify-content: center;
    text-align: center;
    font-size: 100px;
  }

